* {
  box-sizing: border-box;
}

body {
  background-color: #470707;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.search {
  position: relative;
  height: 50px;
}

.search.input {
  position: absolute;
  background-color: red;
  border: 0;
  font-size: 5px;
  padding: 15px;
  height: 50px;
}
